.footer
  %ul.contents
    %li.content
      %h2.content__head
      %ul
        %li
          %a
        %li
          %a
        %li
          %a
        %li
          %a

  %li.content
    %h2.content__head
      %ul
        %li
          %a
        %li
          %a

  %li.content
    %h2.content__head
      %ul
        %li
          %a
        %li
          %a
        %li
          %a
  .footer__logo
    %a
    %p
  
  %a
    .purchase-btn
      %span.purchase-btn__text
      %image.purchase-btn__icon
