#sign_up-page.sign_up-page
  .sign_up-page__sign_up-header
    %h1 
    = link_to root_path do
      = image_tag "logo/logo.png"
    %nav.sign_up-page__sign_up-header__progress-bar
      %ol.sign_up-page__sign_up-header__progress-bar__prog