#sign_up-page.sign_up-page
  .sign_up-page__sign_up-header
    %h1 
    = link_to root_path do
      = image_tag "logo/logo.png"
  .sign_up-page__sign_up-main
    .sign_up-page__sign_up-main__registration-title
    .sign_up-page__sign_up-main__content
      .sign_up-page__sign_up-main__content.form-group
      .sign_up-page__sign_up-main__content.form-group
      .sign_up-page__sign_up-main__content.form-group
      .sign_up-page__sign_up-main__content.form-group
      .sign_up-page__sign_up-main__content.form-group
      .sign_up-page__sign_up-main__content.form-group
  