.sign_up-page__main__contents__form__adress
  %span.form-span1  郵便番号
  %span.form-span2  必須
  .sign_up-page__main__contents__form__adress__form
    %input.sign_up-page__main__contents__form__adress__form__postcode{placeholder: "郵便番号"}
    %input.sign_up-page__main__contents__form__adress__form__prefecture_id{placeholder: "都道府県"}
    %input.sign_up-page__main__contents__form__adress__form__city{placeholder: "市町村"}
    %input.sign_up-page__main__contents__form__adress__form__block{placeholder: "番地"}
    %input.sign_up-page__main__contents__form__adress__form__apartment_number{placeholder: "マンション名 部屋番号（任意）"}