- if controller_name != 'sessions'
  = link_to "ログイン", new_session_path(resource_name), class: 'account-page__main__contents__sign_in__btn'
  %br/
- if devise_mapping.registerable? && controller_name != 'registrations'
  = link_to "新規会員登録", new_registration_path(resource_name), class: 'account-page__main__contents__sign_up__btn'
  %br/