.all
  .header
    .header__inner
      .main-header
        %h1.icon
        .search-box
          .search-box__input
          .search-box_icon

      .nav
        %ul.lists-left
          %li.lists-left__item-left
          %li.lists-left__item-right
        %ul.lists-right
          %li.lists-right__item-left
          %li.lists-right__item-right

  .main
    %section.main-visual
      .content
        %h2.content__subtitle
        %p.content__text
        .btn
          %a
            %image.btn1
          %a
            %image.btn2

    %section.top1
      %h2.top1__subtitle
      %ul.top1__lists
        %li.list
          .list__picture
            %span.number
          %h3.list__text
            %span
          %p.list__description

        %li.list
          .list__picture
            %span.number
          %h3.list__text
            %span
          %p.list__description

        %li.list
          .list__picture
            %span.number
          %h3.list__text
            %span
          %p.list__description

    %section.top2
      .top2__inner
        %h2.subtitle
        %p.text
        .btn
          %a
            %image.btn1
          %a
            %image.btn2

    %section.top3
      %h2.top3__header
      .items
        %section.item
          %figure.item__image
          %h3.item__subtitle
          %p.item_detail

        %section.item
          %figure.item__image
          %h3.item__subtitle
          %p.item_detail

        %section.item
          %figure.item__image
          %h3.item__subtitle
          %p.item_detail

    %section.pickup
      %h2.pickup__head
      .product-box
        .product-head
          %a
            %h3.title
        .product-lists
          .product-list
            %a
              %figure.product-list__image
              .product-list__body
                %h3.name
                .details
                  %ul
                    %li
                    %li
                      %i.like-icon
                  %p
                  .product-list
            %a
              %figure.product-list__image
              .product-list__body
                %h3.name
                .details
                  %ul
                    %li
                    %li
                      %i.like-icon
                  %p

                  .product-list
            %a
              %figure.product-list__image
              .product-list__body
                %h3.name
                .details
                  %ul
                    %li
                    %li
                      %i.like-icon
                  %p

    %section.pickup
      %h2.pickup__head
      .product-box
        .product-head
          %a
            %h3.title
        .product-lists
          .product-list
            %a
              %figure.product-list__image
              .product-list__body
                %h3.name
                .details
                  %ul
                    %li
                    %li
                      %i.like-icon
                  %p

                  .product-list
            %a
              %figure.product-list__image
              .product-list__body
                %h3.name
                .details
                  %ul
                    %li
                    %li
                      %i.like-icon
                  %p

                  .product-list
            %a
              %figure.product-list__image
              .product-list__body
                %h3.name
                .details
                  %ul
                    %li
                    %li
                      %i.like-icon
                  %p

  .app-banner
    .inner
      %h2.inner__title
      %p.inner__text
    .inner__icon
      %a
        %image.icon-btn1
      %a
        %image.icon-btn2

  .footer
    %ul.contents
      %li.content
        %h2.content__head
        %ul
          %li
            %a
          %li
            %a
          %li
            %a
          %li
            %a

    %li.content
      %h2.content__head
        %ul
          %li
            %a
          %li
            %a

    %li.content
      %h2.content__head
        %ul
          %li
            %a
          %li
            %a
          %li
            %a
  .footer__logo
    %a
    %p
  
  %a
    .purchase-btn
      %span.purchase-btn__text
      %image.purchase-btn__icon
