%section.mypage-main
  %h2.mypage-main__mypage-main-header
  .mypage-main__mypage-main-tabs
    %input#sold{checked: "checked", name: "tab-item", type: "radio"}/
    %label.mypage-main__mypage-main-tabs__tab-item{for: "sold"} 出品した商品
    %input#purchased{name: "tab-item", type: "radio"}/
    %label.mypage-main__mypage-main-tabs__tab-item{for: "purchased"} 購入した商品
    #sold_content.mypage-main__mypage-main-tabs__tab-content
      .mypage-main__mypage-main-tabs__tab-content__sold-items
        -# - @items.each do |item|
        -#   .product-box__lists__list
        -#     = link_to item_path(item.id) do
        -#       .product-box__lists__list__image 
        -#         = image_tag item.images[0].image.url, alt: "商品画像"
        -#       .product-box__lists__list__body 
        -#         %h3.product-box__lists__list__body__name 
        -#           = item.name
        -#         .product-box__lists__list__body__details
        -#           %ul
        -#             %li
        -#               ¥
        -#               = item.price
        -#             %li
        -#               = icon('fas','star') 
        -#               0
        -#           %p
                    (税込)
    #purchased_content.mypage-main__mypage-main-tabs__tab-content
      .mypage-main__mypage-main-tabs__tab-content__purchased-items
      

      
    
        

