#mypage-side.mypage-side
  %nav.mypage-side__mypage-nav
    %h2.mypage-side__mypage-nav__mypage-nav-head メニュー
    %ul.mypage-side__mypage-nav__mypage-nav-list
      %li.mypage-side__mypage-nav__mypage-nav-list__mypage-nav-item
      %li.mypage-side__mypage-nav__mypage-nav-list__mypage-nav-item
      %li.mypage-side__mypage-nav__mypage-nav-list__mypage-nav-item
      %li.mypage-side__mypage-nav__mypage-nav-list__mypage-nav-item
    %h2.mypage-side__mypage-nav__mypage-nav-head 設定
    %ul.mypage-side__mypage-nav__mypage-nav-list
      %li.mypage-side__mypage-nav__mypage-nav-list__mypage-nav-item
      %li.mypage-side__mypage-nav__mypage-nav-list__mypage-nav-item
      %li.mypage-side__mypage-nav__mypage-nav-list__mypage-nav-item
      %li.mypage-side__mypage-nav__mypage-nav-list__mypage-nav-item
      %li.mypage-side__mypage-nav__mypage-nav-list__mypage-nav-item