.sign_up-page{
  width: 100%;

  //ヘッダー
  &__header{
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__image{
      width: 200px;
      height: 50px;
      text-align: center;
    }
  }

  //メイン
  &__main{
    background-color: $bg;
    width: 700px;
    margin: auto;

  //会員情報入力
      &__registration-title{
        height: 100px;
        text-align: center;
        line-height: 97px;
        font-size: 23px;
        border-bottom: 1px solid $solid;
      }
  //コンテンツ全体
      &__contents{
        padding: 32px;
  //入力フォーム
        &__form{
          width: 350px;
          margin: 0px 120px;
          margin: auto;

          //「ニックネーム」「お名前」「必須」とかの文字の設定
          .form-span1{
            font-size: 14px;
          }
          .form-span2{
            font-size: 12px;
            background-color: $submit-btn;
            color: $bg;
            padding: 3px;
          }

          //ニックネーム
          &__nickname{

              &__input{
                width: 350px;
                height: 50px;
                }
          }

          &__email{
            margin-top: 20px;

            &__input{
              width: 350px;
              height: 50px;
            }
          }

          &__password{
            margin-top: 20px;

            &__input{
              width: 350px;
              height: 50px;
            }
          }

          &__password_confirmation{
            margin-top: 20px;

            &__input{
              width: 350px;
              height: 50px;
            }
          }

          //お名前
          &__name{
            margin-top: 20px;
            &__form{
              &__last_name{
                width: 170px;
                height: 50px;
              }
              &__first_name{
                width: 170px;
                height: 50px;
              }
            }
          }


          

          &__text{
            margin-top: 20px;
          }


          //お名前（カナ）
          &__name_kana{
            margin-top: 20px;

            &__form{
              &__last_name{
                width: 170px;
                height: 50px;
              }
              &__first_name{
                width: 170px;
                height: 50px;
              }
            }
          }

          //生年月日
          &__birth{
            margin-top: 20px;
            &__form{

              &__year{
                width: 80px;
                height: 50px;
              }
              &__month{
                width: 80px;
                height: 50px;
              }
              &__day{
                width: 80px;
                height: 50px;
              }
            }
          }

          //電話番号
          &__phone_number{
            margin-top: 20px;
            //電話番号入力フォーム
            &__input{
              width: 350px;
              height: 50px;
            }
          }
        }
        
        //送信ボタン
        &__submit{
          margin-top: 50px;
          margin-bottom: 100px;
          width: 350px;
          height: 50px;
          background-color: $submit-btn;
          color: $bg;
          line-height: 50px;
        }
      }
  }

}

    //２ページ目の住所登録のCSS
    .sign_up-page__main__contents__form__adress{
      margin-top: 30px;

      &__form{

        //郵便番号
        &__postcode{
          margin-top: 10px;
          width: 180px;
          height: 50px;
        }
        //都道府県
        &__prefecture_id{
          margin-top: 10px;
          width: 350px;
          height: 50px;

        }
        //市町村
        &__city{
          margin-top: 10px;
          width: 350px;
          height: 50px;
        }
        //番地
        &__block{
          margin-top: 10px;
          width: 350px;
          height: 50px;
        }
        //マンション名 部屋番号
        &__apartment_number{
          margin-top: 10px;
          width: 350px;
          height: 50px;
        }
      }
    }  


    //３ページ目の登録完了画面
    .sign_up-page__main{
      &__complete{
        height: 400px;
        text-align: center;
        &__text1{
          margin-top: 30px;
          font-size: 25px;
        }
        &__text2{
          margin-top: 10px;
          font-size: 20px;
          margin-bottom: 100px;
        }

        &__button{
          width: 350px;
          height: 50px;
          line-height: 50px;
          color: $bg;
          background-color: $submit-btn;
          position: relative;
          margin: auto;

          &__text{
            text-decoration: none;
            color: $bg;
            position: absolute;
            width: 100%;
            height: 100%;
            display: block;
          }
        }

      }
    }