*{
  box-sizing: border-box;
}

.wrapper{
  height: 510vh;
  width: 100vw;
  .header{
    padding: 0 60px;

    &__inner{
      max-width: 1040px;
      width: 100%;
      min-height: 82px;
      margin: 0 auto;
      padding: 15px 0 0;

      .main-header{
        position: relative;
        display: flex;
        align-items: center;
        height: 50px;
        width: 100%;

        &__icon{
          padding-bottom: 10px;
          margin-left: 30px;
          border-radius: 4px;

          a{
            width: 140px;
            display: block;

            img{
            width: 100%;
            vertical-align: bottom;
          }
        }
      }
        .search-box{
          margin-left: auto;
          width: 100%;

          &__input{
            width: calc(100% - 26px);
            height: 36px;
            padding-left: 5px;
          }
        }
      }
    }
  } 

  .main{

  }

  .app-banner{

  }

  .footer{
    
  }
}
